<launch>
  <include file="$(find cyton_gamma_1500_moveit_config)/launch/planning_context.launch">
    <arg name="load_robot_description" value="true"/>
  </include>

  <node name="ros_api_tutorial"
        pkg="pr2_moveit_tutorials"
        type="ros_api_tutorial"
        respawn="false" output="screen">
    <rosparam command="load"
              file="$(find cyton_gamma_1500_moveit_config)/config/kinematics.yaml"/>
  </node>
</launch>
